<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{blog.blogname}} | Log In</title>
        <link rel="stylesheet" id="login-css" href="{{blog.admin_url}}css/login.css?ver=20110121" type="text/css" media="all" />
        <link rel="stylesheet" id="colors-fresh-css" href="{{blog.admin_url}}css/colors-fresh.css?ver=20110121" type="text/css" media="all" />
        <meta name="robots" content="noindex,nofollow" />
    </head>
    <body class="login">
        <div id="login">
            <h1><a href="{% url wpf_index %}" title="{{blog.blogname|escape}}"><span class="hide">{{blog.blogname}}</span></a></h1>
            {% if form.form_errors %}
            <div id="login_error">
                {% for error in form.form_errors %}<strong>ERROR</strong>: {{error}}.<br />{% endfor %}
            </div>
            {% endif %}
            <form name="loginform" id="loginform" action="" method="post">
                {% csrf_token %}
                <p>
                    <label>
                        {{form.user_login.label}}
                        <br />
                        <input type="text" name="user_login" id="user_login" class="input" value="{{form.user_login.data|default_if_none:''}}" size="20" tabindex="10" />
                    </label>
                </p>
                <p>
                    <label>
                        Password
                        <br />
                        <input type="password" name="user_pass" id="user_pass" class="input" value="" size="20" tabindex="10" />
                    </label>
                </p>
                <p class="forgetmenot"><label>{{form.rememberme}} {{form.rememberme.label}}</label></p>
                <p class="submit">
                    <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Log In" tabindex="100" />
                </p>
            </form>
            <p id="nav">
                <a href="{% url wpf_user_registration %}">Register</a> |
                <a href="" title="Password Lost and Found">Lost your password?</a>
            </p>
        </div>
        <p id="backtoblog"><a href="{% url wpf_index %}" title="Are you lost?">← Back to WP Frontman</a></p>
    </body>        
</html>
