<div id="respond">
    <h3 id="reply-title" class="middle">pubblica un commento</h3>
    <p class="middle" style="margin-bottom: 18px;">
        <em>Per commentare devi essere un utente registrato.
        Se hai già delle credenziali utente inseriscile qui sotto.
        Altrimenti puoi <a href="#">registrare un nuovo utente</a>.</em>
    </p>
    <form method="post" id="commentform" action="#respond">
        {% csrf_token %}
        <ul>
            {% for field in form %}
            {% if field.is_hidden %}
            {{field}}
            {% else %}
            {% if field.name != 'remember_info'  and field.name != 'comment_parent' %}
            <li class="{{field.css_classes}}">
                <div class="left{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">{{field.label_tag|lower}}</div>
                <div class="middle">
                    <ul class="errorlist">
                    {% if field.errors %}
                    {% for error in field.errors %}<li class="error">{{error|lower}}</li>{% endfor %}
                    {% else %}
                    {% if field.field.required %}<li class="normal">campo obbligatorio</li>{% endif %}
                    {% endif %}
                    </ul>
                    {{field}}
                </div>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <li>
                <div class="middle form-submit">
                    <input class="submit" type="submit" name="submit" value="login" />
                </div>
            </li>
        </ul>
        <!-- dummy field for WP threade comments reply form compatibility -->
        <input type="hidden" name="comment_post_ID" />
    </form>
</div>
