{% load wpf_tags %}
{% load wpf_comments %}

{% wpfcomments post page %}

<h3 id="comments-title">{{post.comment_count}} Response{{post.comment_count|pluralize}} to <em>{{post.title|safe}}</em></h3>
    
{% if blog.comments_per_page %}{% include 'wp_frontman/fragments/simple_paginator_comments.html' %}{% endif %}
    
<ol class="commentlist">
    {% rendertree comments %}
    <li class="comment {% cycle 'odd' 'even' %} depth-{{level}}" id="li-comment-{{node.id}}">
        <div id="comment-{{node.id}}">
            <div class="comment-author vcard">
                {% if blog.show_avatars %}
                <img alt="Avatar image for {{node.author}}" src="http://www.gravatar.com/avatar/{{node.gravatar_hash}}?s=40&amp;r=G&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40" class="avatar avatar-40 photo" height="40" width="40" />
                {% endif %}
                {% if node.author_url %}
                <cite><a href="{{node.author_url}}" rel="external nofollow" class="url">{{node.author}}</a></cite>
                {% else %}
                <cite>{{node.author}}</cite>
                {% endif %}
                <span class="says">says:</span>
            </div>
            <div class="comment-meta commentmetadata">
                <a href="{{node.get_absolute_url}}">
                    {{node.date|date:blog.date_format}} at {{node.date|time:blog.time_format}}
                </a>
            </div>
            <div class="comment-body">
                {{node.content|safe}}
            </div>
            <div class="reply">
            {% if level < blog.thread_comments_depth %}
                {% if needs_login %}
                <a rel="nofollow" class="comment-reply-link" href="{% url wpf_user_login %}?redirect_to={{request.path|urlencode}}">Log in to reply</a>
                {% else %}
                <a
                    rel="nofollow" class="comment-reply-link"
                    href="{{post.get_absolute_url}}?replytocom={{node.id}}#respond"
                    onclick="return addComment.moveForm(&quot;comment-{{node.id}}&quot;, &quot;{{node.id}}&quot;, &quot;respond&quot;, &quot;5&quot;)"
                    >Reply</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
        {% if not is_leaf %}
        <ul class="children">
            {{children}}
        </ul>
        {% endif %}
    </li>
    {% endrendertree %}
</ol>

{% if blog.comments_per_page %}{% include 'wp_frontman/fragments/simple_paginator_comments.html' %}{% endif %}
